.bg{
    position: relative;
    background-image: url(../public/bg-login.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}
.bg::after{
    content: " ";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    background-color: black;
    opacity: 0.55;
    z-index: 1;
}
.mainz{
    z-index: 2;
}